<div id="sub-nav">
  <div class="content">
    <ul>
      <li><a class="underlined" routerLink="news/england" href="#">England</a></li>
      <li><a class="underlined" routerLink="news/n.irland" href="#">N. Ireland</a></li>
      <li><a class="underlined" routerLink="news/scotland" href="#">Scotland</a></li>
      <li><a class="underlined" routerLink="news/alba" href="#">Alba</a></li>
      <li><a class="underlined" routerLink="news/wales" href="#">Wales</a></li>
      <li><a class="underlined" routerLink="news/cymru" href="#">Cymru</a></li>
    </ul>
  </div>
</div>
