
a { display: block; }
a.underlined {
  text-align: center;
  border-bottom: 4px solid transparent;
}
a.underlined:hover { border-bottom-color: #262626; }

#sub-nav a.underlined:hover { border-bottom-color: #cc0101; }

#sub-nav ul {
  margin: 6px 0;
  padding: 0;
  list-style-type: none;
}
#sub-nav ul li {
  position: relative;
  display: inline-block;
}
#sub-nav ul li:after {
  content: '';
  width: 1px;
  height: 15px;
  background-color: rgba(0,0,0,0.15);
  position: absolute;
  top: 5px;
  right: 0px;
}
#sub-nav ul li:last-child:after { content: none; }
#sub-nav ul li a {
  font-size: 15px;
  padding: 3px 12px;
}
