<nav>
  <div id="logo-menu">
    <div class="content">
      <ul>
        <li class="logo">
          <a href="#">
            <img src="https://static.bbci.co.uk/frameworks/barlesque/2.83.4/orb/4/img/bbc-blocks-dark.png" alt="BBC">
          </a>
        </li>
        <li class="sign-in">
          <a class="underlined" routerLink="admin">
            <img src="https://static.bbci.co.uk/id/0.27.15/img/bbcid_orb_signin_dark.png" alt="Profile">
            <span >Sign in</span>
          </a>
        </li>
        <li><a class="underlined" href="#">News</a></li>
        <li><a class="underlined" href="#">Sport</a></li>
        <li><a class="underlined" href="#">Weather</a></li>
        <li><a class="underlined" href="#">iPlayer</a></li>
        <li><a class="underlined" href="#">TV</a></li>
        <li><a class="underlined" href="#">Radio</a></li>
        <li><a class="underlined" href="#">More</a></li>
        <li class="search">
          <div class="search-container">
            <input type="text" placeholder="Search">
            <a class="search-button" href="#">
              <img src="https://static.bbci.co.uk/frameworks/barlesque/2.83.4/orb/4/img/orb-search-dark.png" alt="Search">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
