.post-data {
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0 0 -10px;
  padding-left: 30px;
  background-image: url("//static.bbci.co.uk/news/1.66.2287/img/news--icons-sprite.png");
  background-position: left -4011px;
  background-repeat: no-repeat;
}
.post-data a.country {
  color: #cc0101;
  margin-left: 15px;
  position: relative;
}
