main {
  margin-top: 20px;
}
main .content { position: relative; }

main .main-content,
main .sidebar {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

main .main-content {
  width: 69%;
  padding: 0 15px 0 6px;
}
main .main-content ::ng-deep  {
  position: relative;
  min-height: 270px;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #eee;
}
main .main-content ::ng-deep  img.::ng-deep -image {
  float: right;
  margin-left: 10px;
}
main .main-content ::ng-deep  h2 {
  font-size: 2em;
  margin: 10px 0;
  color: black;
}
main .main-content ::ng-deep  a:hover h2 { color: #1167a8; }
main .main-content ::ng-deep  p {
  color: #5a5a5a;
  line-height: 1.2em;
  font-size: 0.9em;
}

main .main-content ::ng-deep  .post-data a.country:hover { color: #1167a8; }
main .main-content ::ng-deep  .post-data a.country:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -8px;
  width: 1px;
  height: 15px;
  background: #ddd;
}
main .main-content ::ng-deep  .related-links {
  position: relative;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 1.6em;
}
main .main-content ::ng-deep  .related-links:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 40px;
  height: 1px;
  background: #cc0101;
}
main .main-content ::ng-deep  .related-links a:hover { color: #1167a8; }
main .main-content ::ng-deep  .related-links .icon {
  width: 16px;
  height: 16px;
  background: url("//myriad3d.co.uk/asset_hosting/codepen/bbc/sprite-2.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
main .main-content ::ng-deep  .related-links .icon.video { background-position: -8px -285px; }



main .sidebar {
  width: 29%;
  padding-left: 15px;
  border-left: 1px solid #eee;
}
main .sidebar h2 {
  margin-top: 0;
  font-weight: normal;
}
main .sidebar ::ng-deep  { min-height: 60px; }
main .sidebar ::ng-deep  h3 { font-size: 1em; }
main .sidebar ::ng-deep  a:hover h3 { color: #1167a8; }
main .sidebar ::ng-deep  .image {
  position: relative;
  margin-right: 10px;
  float: left;
}
main .sidebar ::ng-deep  .image .time {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 8px 6px 20px;
  background: white;
  font-size: 0.8em;
}
main .sidebar ::ng-deep  .image .time:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid black;
}
