nav a { display: block; }
nav a.underlined {
  text-align: center;
  border-bottom: 4px solid transparent;
}

nav a.underlined:hover { border-bottom-color: #262626; }

nav #primary-nav a.underlined:hover { border-bottom-color: white; }

nav .red-header { background-color: #cc0101; }

nav #department,
nav #primary-nav { color: white; }

nav #department a {
  color: white;
  display: inline-block;
}
nav #department h1 {
  display: inline-block;
  margin: 0;
  padding: 3px 0;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: normal;
}
nav #department #find-local {
  margin-top: 11px;
  padding: 0 25px 0 5px;
  float: right;
  border: 1px solid rgba(255,255,255,0.3);
  background: url("//static.bbci.co.uk/news/1.66.2287/img/news--icons-sprite.png") no-repeat right -5902px;
}
nav #department #find-local a {
  margin: 0;
  padding: 4px 5px;
  font-size: 1.2em;
}
nav #department #find-local a:hover { text-decoration: underline; }
nav #department #find-local a p { margin: 0; }

nav #primary-nav {
  border-top: 1px solid rgba(255,255,255,0.3);
}
nav #primary-nav .content {
  display: table;
  width: 100%;
}
nav #primary-nav ul {
  display: table-row;
  height: 36px;
}
nav #primary-nav li {
  display: table-cell;
  position: relative;
}
nav #primary-nav li:after {
  content: '';
  width: 1px;
  height: 18px;
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 8px;
  right: 0px;
}
nav #primary-nav li:last-child:after {
  content: none;
}
nav #primary-nav ul li:last-child a {
  padding-right: 20px;
}
nav #primary-nav ul li:last-child a:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  content: '';
  height: 0;
  position: relative;
  right: -10px;
  top: 11px;
  width: 0;
}
nav #primary-nav ul li:last-child a:hover {
  background-color: black;
  border-bottom-color: black;
}
nav #primary-nav a {
  font-size: 15px;
  color: white;
  padding: 8px 12px;
  max-height: 16px;
}
nav #primary-nav ul li a.active { border-bottom-color: white; }
