<nav>
  <div class="red-header">
    <div id="department">
      <div class="content">
        <a href="#"><h1>News</h1></a>
        <div id="find-local">
          <a href="#">
            <p>Find local news</p>
          </a>
        </div>
      </div>
    </div>

    <div id="primary-nav">
      <div class="content">
        <ul>
          <li><a class="underlined active" href="news/home"><span>Home</span></a></li>
          <li><a class="underlined" routerLink="news/uk" href="#">UK</a></li>
          <li><a class="underlined" routerLink="news/worid" href="#">World</a></li>
          <li><a class="underlined" routerLink="news/bussines" href="#">Business</a></li>
          <li><a class="underlined" routerLink="news/tech" href="#">Tech</a></li>
          <li><a class="underlined" routerLink="news/science" href="#">Science</a></li>
          <li><a class="underlined" routerLink="news/health" href="#">Health</a></li>
          <li><a class="underlined" routerLink="news/education" href="#">Education</a></li>
          <li><a class="underlined" routerLink="news/entertainment" href="#">Entertainment &amp; Arts</a></li>
          <li><a class="underlined" routerLink="news/audio" href="#">Video &amp; Audio</a></li>
          <li><a class="underlined" routerLink="news/more" href="#">More</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
